# dependencies
node_modules

# next build output
.next

# local env files
.env
.env.*
!.env.example

# vcs
.git
.gitignore

# editor/system
.vscode
.DS_Store

# docs and misc
README.md
DEPLOY.md
*.log
coverage
